*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* peta */
.peta .mylocation {
  padding: 5pt;
  margin: 5pt;
  background-color: white;
  color: #006d7c;
  font-weight: 600;
  font-size: 14pt;
}

.content .peta {
  margin-bottom: 20pt;
}
.content .peta .dialogbox {
  background-color: white;
  color: #006d7c;
}
.content .peta .iconVaccine {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.peta_description {
  color: #006d7c;
}
.titlemap {
  display: flex;
  gap: 10pt;
}
.iconVaccine {
  width: 2rem;
  height: 2rem;
}

/* loading */
.loading-div {
  font-size: 74pt;
  text-align: center;
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  /* Setup */
  position: relative;
}

.loading-child {
  color: #006d7c;
  position: absolute;
  top: 50%;
  font-size: 48pt;
  font-weight: 600;
  left: 50%;
  transform: translate(-50%, 200%);
}
/* grid for news */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 20pt;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #b7b7b7;
  border-radius: 10pt;
  text-align: center;
}
.grid-item .description .detail p {
  color: #b7b7b7;
  font-size: 10pt;
}
.grid-item .description {
  padding: 15pt;
  gap: 5pt;
  display: grid;
}
.grid-item p {
  color: #006d7c;
  text-align: left;
  font-size: 12pt;
}
.grid-item h1 {
  color: #006d7c;
  font-size: 16pt;
  font-weight: 600;
  text-align: left;
}
.grid-item img {
  border-radius: 10pt;
  width: 300pt;
  height: 200pt;
  object-fit: cover;
}
/* split content */
.content .container-dual {
  display: flex;
  gap: 40pt;
}

/* content for profile */
.content .profile {
  min-width: 300pt;
  max-width: 300pt;
}
.content .profile .property {
  margin-bottom: 15pt;
  text-align: left;
}
.content .profile .field {
  font-size: 12pt;
  min-width: 100pt;
  max-width: 200pt;
  text-align: left;
  color: #079cb0;
}
.content .profile .value {
  text-align: left;
  font-size: 14pt;
  min-width: 300pt;
  font-weight: 500;
  color: #006d7c;
}
/*select form */
.content form {
  width: 300pt;
}
.content form p {
  color: #888888;
  font-size: 12pt;
  margin-bottom: 5pt;
}
.content form .dropdown {
  max-width: 300pt;
  min-width: 100pt;
  border-radius: 10pt;
  margin-bottom: 20pt;
}
.content form .kirikanan {
  display: flex;
  justify-content: space-between;
}
.content form .kirikanan .kiri {
  min-width: 180pt;
}
.content form .kirikanan .kanan {
  min-width: 100pt;
}

.content form .inputnumber:focus {
  outline: 1pt solid #079cb0;
}
.content form .inputnumber {
  min-width: 100pt;
  border-radius: 5pt;
  margin-bottom: 20pt;
  min-height: 30pt;
  padding-left: 10pt;
  border: 1pt solid #b7b7b7;
  font-size: 14pt;
}
/* content */
.mainmenu-user .content .dialog-button {
  margin-top: 30pt;
}
.content .dialog-button {
  display: flex;
  gap: 10pt;
}

.content .add {
  width: 150pt;
  height: 35pt;
  outline: none;
  border: none;
  background-color: #006d7c;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  border-radius: 10pt;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .add:hover {
  background-color: #079cb0;
}

.content .back {
  width: 150pt;
  height: 35pt;
  outline: none;
  border: 1pt solid #c9c9c9;
  background-color: #ffffff;
  color: #888888;
  font-weight: 500;
  font-size: 14pt;
  border-radius: 10pt;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back:hover {
  border: 2pt solid #888888;
  color: #888888;
}

.content button {
  background-color: transparent;
  height: auto;
  outline: none;
  border: none;
  color: #006d7c;
  cursor: pointer;
  transition: 0.5s;
}

.content .button:hover {
  background-color: #079cb0;
  color: white;
  border: none;
}

tr,
td,
th {
  border: 1px solid #079cb0;
  background-color: white;
  padding: 10pt;
  color: #079cb0;
}
th {
  font-weight: 600;
}
table {
  border-collapse: collapse;
  min-width: 100vh;
  margin-bottom: 20pt;
}
table td .lihat {
  color: #006d7c;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
table td .ubah {
  color: #079cb0;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10pt;
}
.hapus-sesi {
  color: #f60c0c;
  cursor: pointer;
  margin-left: 10pt;
  font-weight: 500;
}
.tambah-sesi {
  color: #f60c0c;
  cursor: pointer;
  margin-left: 10pt;
  font-weight: 500;
}

table td .hapus {
  color: #f60c0c;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10pt;
  font-weight: 500;
}
table td .konfirmasi {
  color: #43a009;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}
table td .na {
  color: #b7b7b7;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
}
.mainmenu-admin {
  background-image: url(./bg3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 110%;
  background-position-y: 145%;
  padding: 20pt;
  padding-bottom: 100pt;
  min-height: 100vh;
}

.mainmenu-user2 .content form .inputuser:focus {
  outline: 1pt solid #079cb0;
}
.mainmenu-user2 .content form .inputuser {
  min-width: 300pt;
  border-radius: 5pt;
  margin-bottom: 20pt;
  min-height: 30pt;
  padding-left: 10pt;
  border: 1pt solid #b7b7b7;
  font-size: 14pt;
}
.mainmenu-admin .content form .inputuser:focus {
  outline: 1pt solid #079cb0;
}
.mainmenu-admin .content form .inputuser {
  min-width: 300pt;
  border-radius: 5pt;
  margin-bottom: 20pt;
  min-height: 30pt;
  padding-left: 10pt;
  border: 1pt solid #b7b7b7;
  font-size: 14pt;
}

.mainmenu-admin .content form .inputpeta {
  min-width: 300pt;
  max-width: 300pt;
  border-radius: 5pt;
  margin-bottom: 20pt;
  min-height: 100pt;
  max-height: 100pt;
  padding-left: 10pt;
  border: 1pt solid #b7b7b7;
  padding-top: 10pt;
  font-size: 14pt;
}

.mainmenu-user2 .content h1 {
  font-size: 24pt;
  color: #006d7c;
  margin-bottom: 20pt;
}
.mainmenu-user2 .content .add {
  margin-bottom: 10pt;
}
.mainmenu-user2 .content {
  grid-template-areas: "auto auto";
}
.mainmenu-user2 .content .paragraph {
  font-size: 14pt;
  font-weight: 600;
  color: #006d7c;
}
.mainmenu-user2 .content ol {
  font-size: 14pt;
  color: #006d7c;
  margin-bottom: 20pt;
  line-height: 30pt;
  margin-left: 18pt;
}
.mainmenu-user2 {
  background-image: url(./bg2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 100%;
  background-position-y: 100%;
  padding: 20pt;
  padding-bottom: 100pt;
  min-height: 100vh;
}
.mainmenu-user {
  background-image: url(./bg_welcome.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 20pt;
  padding-bottom: 100pt;
  min-height: 100vh;
}
.mainmenu-user .content {
  color: #006d7c;
}
.mainmenu-user .content h1 {
  color: #006d7c;
  max-width: 15ch;
  font-size: 40pt;
  margin-top: 10pt;
  font-weight: 600;
}
.mainmenu-admin .content h1 {
  color: #006d7c;
  font-size: 14pt;
  margin-top: 10pt;
  font-weight: 600;
}
.mainmenu-user .content p {
  color: #006d7c;
  max-width: 25ch;
  font-size: 20pt;
  font-weight: 500;
}
.mainmenu-user .content h2 {
  color: #006d7c;
  margin-bottom: 20pt;
  max-width: 25ch;
  font-size: 20pt;
  font-weight: 500;
}
.mainmenu-admin .content h2 {
  color: #006d7c;
  margin-bottom: 20pt;
  max-width: 25ch;
  font-size: 20pt;
  font-weight: 500;
}
.mainmenu-user .content button {
  margin-top: 20pt;
}
.content {
  margin-left: 20pt;
  margin-right: 20pt;
  margin-top: 80pt;
  margin-bottom: 80pt;
  min-height: 100%;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80pt;
  height: 80pt;
  text-align: center;
  z-index: 33;
}
.footer img {
  border-radius: 10pt 10pt 0pt 0pt;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 5pt;
  margin-left: 10pt;
  width: 80pt;
  height: 80pt;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

/* header */
.header {
  align-items: center;
  border-bottom: 1pt solid #079cb0;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-areas: "navbar profile";
  grid-gap: 10pt;
  padding: 20pt;
  position: fixed;
}
.navbar .active {
  font-weight: 600;
  color: #006d7c;
}
.navbar {
  align-items: center;
  max-width: 80%;
  grid-area: navbar;
  display: flex;
  gap: 20pt;
  margin-left: 20pt;
  text-decoration: none;
}
.navbar h1 {
  max-width: 150pt;
}
.item:hover {
  color: #079cb0;
  cursor: pointer;
}
.navbar h1:active {
  color: #079cb0;
}
.navbar .item {
  max-width: 150pt;
}
.profile h1:hover {
  color: #006d7c;
  cursor: pointer;
}
.profile h1:active {
  color: #079cb0;
}

.navbar a {
  color: #b7b7b7;
  font-size: 14pt;
  font-weight: 500;
}
.navbar h1 {
  color: #b7b7b7;
  font-size: 14pt;
  font-weight: 400;
  transition: 0.2s;
}
.profile a {
  color: #b7b7b7;
  font-size: 14pt;
  font-weight: 500;
}
.profile h1 {
  color: #b7b7b7;
  font-size: 14pt;
  font-weight: 400;
  transition: 0.2s;
}
.header .profile {
  grid-area: profile;
  display: flex;
  right: 0;
  margin-right: 20pt;
  justify-content: right;
  font-size: 14pt;
  color: #b7b7b7;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}
.header .profile:hover {
  color: #006d7c;
}

/* login and register*/
.admin-bg-login {
  background-image: url(./admin_login_bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  min-height: 100%;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound-bg-login {
  background-image: url(./notfound.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  min-height: 100%;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
.gotomainmenu-not-found {
  color: #ffffff;
}
.gotomainmenu-not-found:hover {
  color: #ffffff00;
  font-weight: 700;
  -webkit-text-stroke-width: 0.4pt;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.notfound-bg-login .content-notfound {
  font-size: 32pt;
  color: white;
  font-weight: 500;
  max-width: 300pt;
  vertical-align: text-top;
  border-bottom: 3pt solid white;
}
.user-bg-login {
  background-image: url(./user_login_bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
.yet-register {
  color: #006d7c;
  padding-top: 20pt;
  padding-bottom: 20pt;
  text-align: center;
}
.yet-register span {
  color: #079cb0;
  cursor: pointer;
  font-weight: 600;
}
.error-message-container {
  margin-top: 10pt;
  margin-bottom: 10pt;
}
.error-messages {
  color: red;
  font-size: 10pt;
}
.loginbox {
  min-height: 400px;
  width: 420px;
  background-color: white;
  padding: 20pt;
  padding-bottom: 0pt;
  border-radius: 20px;
  margin: 40pt;
}
.login-header {
  grid-area: header;
  justify-content: left;
  align-items: center;
  display: flex;
}
.login-logo {
  justify-content: right;
  display: flex;
  align-items: center;
  grid-area: logo;
}
.login-logo img {
  width: 110pt;
}
.login-form {
  grid-area: form;
}
.login-form .inputbox {
  position: relative;
}
.login-form .inputbox input {
  border: none;
  padding: 5px 0;
  outline: none;
  width: 100%;
  margin-bottom: 30pt;
  background: transparent;
  border-bottom: 1px solid #b7b7b7;
  font-size: 14pt;
  text-decoration: none;
}
.login-form .inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: 14pt;
  color: #b7b7b7;
  pointer-events: none;
  transition: 0.5s;
}
.login-form .inputbox input[type="password"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-form .inputbox input:focus ~ label,
.login-form .inputbox input:hover ~ label,
.login-form .inputbox input:valid ~ label {
  top: -15pt;
  left: 0;
  color: #006d7c;
  font-size: 11pt;
}
.login-form .inputbox input:focus,
.login-form .inputbox input:valid {
  border-bottom: 1px solid #079cb0;
}
.loginbox .grid-container-admin {
  display: grid;
  grid-template-areas:
    "header logo"
    "form form";
  grid-gap: 10pt;
}
.loginbox h1 {
  font-size: 28pt;
  color: #006d7c;
  font-weight: 600;
}
.loginbox button {
  width: 100%;
  height: 35pt;
  outline: none;
  border: none;
  background-color: #006d7c;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  border-radius: 10pt;
  cursor: pointer;
  transition: 0.5s;
}
.loginbox button:hover {
  background-color: #079cb0;
}
